Repository sonic-net/sonic-mgmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Azure/sonic-fundamentals, @wangxin, @yxieca, @ramakristipati, @lolyu, @daall, @jleveque

Update cont-warmboot.yml for Azure Pipelines
  tests/pipelines/cont-warmboot.yml
Owners: @Azure/sonic-fundamentals

[vlan] Update test_vlan
  tests/vlan/test_vlan.py
Owners: @Azure/sonic-fundamentals

Add reboot and restart scenarios for pfcwd
  tests/ixia/pfcwd/test_pfcwd_basic.py
Owners: @Azure/sonic-fundamentals

[icmp responder]: Update --dst_mac description
  tests/scripts/icmp_responder.py
Owners: @Azure/sonic-fundamentals

[dual tor]: Address review comments
  tests/common/dualtor/dual_tor_utils.py
Owners: @Azure/sonic-fundamentals

[pytest] Fix the typos in comments.
  tests/monitoring_processes/test_monitoring_critical_processes.py
Owners: @Azure/sonic-fundamentals

[report_uploader] Add support for uploading ICMP ping data from devutils
  test_reporting/report_data_storage.py
  test_reporting/report_uploader.py
Owners: @daall

[pytest] Reorganize the comments.
  tests/container_checker/test_container_checker.py
Owners: @Azure/sonic-fundamentals

[pytest] Fix a typo in the log message.
  tests/monitoring_processes/test_monitoring_critical_processes.py
Owners: @Azure/sonic-fundamentals

[rdma] Add reboot and restart scenarios for pfcwd (#2884)
  tests/ixia/pfcwd/test_pfcwd_basic.py
Owners: @Azure/sonic-fundamentals

[minigraph]: Make dual ToR lo2 IPs identical (#2964)
  ansible/vars/topo_dualtor-56.yml
  ansible/vars/topo_dualtor.yml
Owners: @Azure/sonic-fundamentals

[dual tor]: Make GARP packet fixture function scope
  tests/common/dualtor/dual_tor_utils.py
Owners: @Azure/sonic-fundamentals

verify_packet_any_port return port index and not port.
  tests/bgp/test_bgpmon.py
Owners: @Azure/sonic-fundamentals

Update cont-warmboot.yml for Azure Pipelines
  tests/pipelines/cont-warmboot.yml
Owners: @Azure/sonic-fundamentals

Update cont-warmboot.yml for Azure Pipelines
  tests/pipelines/cont-warmboot.yml
Owners: @Azure/sonic-fundamentals

[pdu] flatten the PDU status data
  ansible/devutils
Owners: @Azure/sonic-fundamentals

Update cont-warmboot.yml for Azure Pipelines
  tests/pipelines/cont-warmboot.yml
Owners: @Azure/sonic-fundamentals

Update cont-warmboot.yml for Azure Pipelines
  tests/pipelines/cont-warmboot.yml
Owners: @Azure/sonic-fundamentals

Update cont-warmboot.yml for Azure Pipelines
  tests/pipelines/cont-warmboot.yml
Owners: @Azure/sonic-fundamentals

Update cont-warmboot.yml for Azure Pipelines
  tests/pipelines/cont-warmboot.yml
Owners: @Azure/sonic-fundamentals

Update cont-warmboot.yml for Azure Pipelines
  tests/pipelines/cont-warmboot.yml
Owners: @Azure/sonic-fundamentals

Update cont-warmboot.yml for Azure Pipelines
  tests/pipelines/cont-warmboot.yml
Owners: @Azure/sonic-fundamentals

Update cont-warmboot.yml for Azure Pipelines
  tests/pipelines/cont-warmboot.yml
Owners: @Azure/sonic-fundamentals

Update cont-warmboot.yml for Azure Pipelines
  tests/pipelines/cont-warmboot.yml
Owners: @Azure/sonic-fundamentals

Update cont-warmboot.yml for Azure Pipelines
  tests/pipelines/cont-warmboot.yml
Owners: @Azure/sonic-fundamentals

Fix the bgpmon flakyness (#2975)
  tests/bgp/test_bgpmon.py
Owners: @Azure/sonic-fundamentals

[dualtor]: Send GARP to start linkmgrd heartbeat (#2959)
  tests/common/dualtor/dual_tor_utils.py
Owners: @Azure/sonic-fundamentals

Update cont-warmboot.yml for Azure Pipelines
  tests/pipelines/cont-warmboot.yml
Owners: @Azure/sonic-fundamentals

Update cont-warmboot.yml for Azure Pipelines
  tests/pipelines/cont-warmboot.yml
Owners: @Azure/sonic-fundamentals

Update cont-warmboot.yml for Azure Pipelines
  tests/pipelines/cont-warmboot.yml
Owners: @Azure/sonic-fundamentals

Update cont-warmboot.yml for Azure Pipelines
  tests/pipelines/cont-warmboot.yml
Owners: @Azure/sonic-fundamentals

Update cont-warmboot.yml for Azure Pipelines
  tests/pipelines/cont-warmboot.yml
Owners: @Azure/sonic-fundamentals

Update cont-warmboot.yml for Azure Pipelines
  tests/pipelines/cont-warmboot.yml
Owners: @Azure/sonic-fundamentals

[report_uploader] Add support for uploading ICMP ping data from devutils (#2974)
  test_reporting/report_data_storage.py
  test_reporting/report_uploader.py
Owners: @daall

Update cont-warmboot.yml for Azure Pipelines
  tests/pipelines/cont-warmboot.yml
Owners: @Azure/sonic-fundamentals

[icmp responder]: Allow hardcoding of ICMP responder MAC (#2970)
  tests/common/fixtures/ptfhost_utils.py
  tests/scripts/icmp_responder.py
Owners: @Azure/sonic-fundamentals

Update BGP Convergence Testplan for single DUT.md
  docs/testplan/BGP Convergence Testplan for single DUT.md
Owners: @wangxin, @yxieca

Enhancement to BGP test cases.
  tests/bgp/bgp_helpers.py
  tests/bgp/conftest.py
  tests/bgp/test_bgp_allow_list.py
  tests/bgp/test_bgpmon.py
  tests/bgp/test_traffic_shift.py
Owners: @Azure/sonic-fundamentals

Fix
  tests/bgp/test_bgpmon.py
Owners: @Azure/sonic-fundamentals

[pdu] flatten the PDU status data (#2976)
  ansible/devutils
Owners: @Azure/sonic-fundamentals

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# rules are explained here
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, # @Azure/sonic-fundamentals
# will be requested for review when someone opens a pull request.
*       @Azure/sonic-fundamentals

# Ansible

# Documents
docs    @wangxin @yxieca

# spytest
spytest @ramakristipati @lolyu @yxieca

# test reporting
test_reporting  @daall

# tests
tests/platform_tests    @jleveque
