Repository sonic-net/sonic-mgmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Azure/sonic-fundamentals, @wangxin, @yxieca, @ramakristipati, @lolyu, @daall, @jleveque

Update cont-warmboot.yml for Azure Pipelines
  tests/pipelines/cont-warmboot.yml
Owners: @Azure/sonic-fundamentals

Fix LGTM
  tests/bgp/test_traffic_shift.py
Owners: @Azure/sonic-fundamentals

Update cont-warmboot.yml for Azure Pipelines
  tests/pipelines/cont-warmboot.yml
Owners: @Azure/sonic-fundamentals

Modified testcase to use enum_rand_one_per_hwsku_frontend_hostname
  tests/route/test_route_perf.py
Owners: @Azure/sonic-fundamentals

fix for eccmp testcase post move ahead merge
  sonic-mgmt/spytest/templates/show_interfaces_counters.tmpl
  sonic-mgmt/spytest/tests/routing/BGP/test_bgp.py
  sonic-mgmt/spytest/tests/routing/test_l3_scale_ecmp_paths.py
Owners: @ramakristipati, @lolyu, @yxieca

Update cont-warmboot.yml for Azure Pipelines
  tests/pipelines/cont-warmboot.yml
Owners: @Azure/sonic-fundamentals

Update cont-warmboot.yml for Azure Pipelines
  tests/pipelines/cont-warmboot.yml
Owners: @Azure/sonic-fundamentals

Update cont-warmboot.yml for Azure Pipelines
  tests/pipelines/cont-warmboot.yml
Owners: @Azure/sonic-fundamentals

ecmp-l3sanity fix for move ahead
  sonic-mgmt/spytest/templates/show_interfaces_counters.tmpl
  sonic-mgmt/spytest/tests/routing/test_l3_scale_ecmp_paths.py
  sonic-mgmt/spytest/tests/sanity/test_sanity_l3.py
Owners: @ramakristipati, @lolyu, @yxieca

Update cont-warmboot.yml for Azure Pipelines
  tests/pipelines/cont-warmboot.yml
Owners: @Azure/sonic-fundamentals

[device map] fix device map creation issue and caching issue
  tests/common/devices.py
  tests/kvmtest.sh
  tests/test_pretest.py
Owners: @Azure/sonic-fundamentals

Add PFC watchdog impact on runtime traffic test case
  tests/ixia/pfcwd/files/pfcwd_runtime_traffic_helper.py
  tests/ixia/pfcwd/test_pfcwd_runtime_traffic.py
Owners: @Azure/sonic-fundamentals

Update if statement
  tests/vlan/test_vlan.py
Owners: @Azure/sonic-fundamentals

Add comments
  tests/ixia/pfcwd/files/pfcwd_runtime_traffic_helper.py
  tests/ixia/pfcwd/test_pfcwd_runtime_traffic.py
Owners: @Azure/sonic-fundamentals

Update cont-warmboot.yml for Azure Pipelines
  tests/pipelines/cont-warmboot.yml
Owners: @Azure/sonic-fundamentals

[dual tor]: Address review comments
  tests/common/dualtor/dual_tor_mock.py
Owners: @Azure/sonic-fundamentals

[vlan] Update test_vlan (#2973)
  tests/vlan/test_vlan.py
Owners: @Azure/sonic-fundamentals

[dual tor]: Address LGTM
  tests/common/dualtor/dual_tor_mock.py
Owners: @Azure/sonic-fundamentals

Introduce framework for filtering/selecting pluggable components for sonic modular chassis (#2794)
  tests/platform_tests/cli/test_show_chassis_module.py
  tests/platform_tests/cli/util.py
  tests/platform_tests/test_power_budget_info.py
Owners: @jleveque

[pytest] Fix a typo.
  tests/monitoring_processes/test_monitoring_critical_processes.py
Owners: @Azure/sonic-fundamentals

[pytest] Add missing the Macro.
  tests/monitoring_processes/test_monitoring_critical_processes.py
Owners: @Azure/sonic-fundamentals

[dual tor]: Move y cable simulator driver injection to pretest
  ansible/config_sonic_basedon_testbed.yml
  ansible/dualtor/config_y_cable_simulator.yml
  ansible/dualtor/y_cable_simulator_injector.yml
  tests/templates/y_cable_simulator_client.j2
  tests/test_pretest.py
Owners: @Azure/sonic-fundamentals

fix container exists API
  tests/common/devices.py
Owners: @Azure/sonic-fundamentals

[dual tor]: Only inject y cable sim if dual tor topo
  tests/test_pretest.py
Owners: @Azure/sonic-fundamentals

check for container running rather than present
  tests/common/devices.py
  tests/common/system_utils/docker.py
Owners: @Azure/sonic-fundamentals

[common API] Check for is container 'running' rather than 'exists' (#2980)
  tests/common/devices.py
  tests/common/system_utils/docker.py
Owners: @Azure/sonic-fundamentals

[wr_arp] add timeout to thread join
  ansible/roles/test/files/ptftests/wr_arp.py
Owners: @Azure/sonic-fundamentals

[pytest] Use the logAnalyzer to analyze the alerting message.
  tests/container_checker/test_container_checker.py
Owners: @Azure/sonic-fundamentals

fix spell
  ansible/roles/test/files/ptftests/wr_arp.py
Owners: @Azure/sonic-fundamentals

[pytest] Use loganalyzer to analyzer the alerting messages from syslog.
  tests/monitoring_processes/test_monitoring_critical_processes.py
Owners: @Azure/sonic-fundamentals

[pytest] Did not load the command regex.
  tests/container_checker/test_container_checker.py
Owners: @Azure/sonic-fundamentals

Pdu and Console connection info in connection graph
  ansible/files/creategraph.py
  ansible/files/lab_connection_graph.xml
  ansible/files/sonic_lab_console_links.csv
  ansible/files/sonic_lab_devices.csv
  ansible/files/sonic_lab_pdu_links.csv
  ansible/library/conn_graph_facts.py
Owners: @Azure/sonic-fundamentals

address some issues
  ansible/files/creategraph.py
  ansible/library/conn_graph_facts.py
Owners: @Azure/sonic-fundamentals

Expanding redis static TC
  tests/nat/test_static_nat.py
Owners: @Azure/sonic-fundamentals

Removed the cleanup_cache fixture as there is a cleanup cache fixture being added in test_pretest
  tests/conftest.py
Owners: @Azure/sonic-fundamentals

sanity check fixes for chassis; and cache cleanup at the end of pytest session
  tests/common/plugins/sanity_check/checks.py
  tests/conftest.py
Owners: @Azure/sonic-fundamentals

protections
  ansible/library/conn_graph_facts.py
Owners: @Azure/sonic-fundamentals

lgtm
  ansible/library/conn_graph_facts.py
Owners: @Azure/sonic-fundamentals

[multi-asic]: Add a new testbed to bring up multi-asic vs with hwsku msft_four_asic_vs.
  ansible/lab
  ansible/minigraph/vlab-07.t1-8-lag.xml
  ansible/veos_vtb
  ansible/vtestbed.csv
Owners: @Azure/sonic-fundamentals

Added cleanup_cache, but not making it autouse=True
  tests/conftest.py
Owners: @Azure/sonic-fundamentals

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# rules are explained here
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, # @Azure/sonic-fundamentals
# will be requested for review when someone opens a pull request.
*       @Azure/sonic-fundamentals

# Ansible

# Documents
docs    @wangxin @yxieca

# spytest
spytest @ramakristipati @lolyu @yxieca

# test reporting
test_reporting  @daall

# tests
tests/platform_tests    @jleveque
