Repository sonic-net/sonic-mgmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Azure/sonic-fundamentals, @wangxin, @yxieca, @ramakristipati, @lolyu, @daall, @jleveque

Fix
  tests/common/helpers/constants.py
Owners: @Azure/sonic-fundamentals

Use cached testbedInfo and host_vars in inventory in dut selection fixtures (#2811)
  tests/common/helpers/dut_utils.py
  tests/conftest.py
Owners: @Azure/sonic-fundamentals

[tacacs/test_jit_user]: test same user with different privilege level
  ansible/group_vars/lab/lab.yml
  tests/common/plugins/tacacs.py
  tests/tacacs/__init__.py
  tests/tacacs/tac_plus.conf.j2
  tests/tacacs/test_jit_user.py
Owners: @Azure/sonic-fundamentals

[test_ro_user]: check stderr to make sure error is due to sudo issue
  tests/tacacs/test_ro_user.py
Owners: @Azure/sonic-fundamentals

[kvmtest]: add test_jit_user to kvmtest
  tests/kvmtest.sh
Owners: @Azure/sonic-fundamentals

[test_ro_user]: check stderr to make sure error is due to sudo issue
  tests/tacacs/test_ro_user.py
Owners: @Azure/sonic-fundamentals

[kvmtest]: add test_jit_user to kvmtest
  tests/kvmtest.sh
Owners: @Azure/sonic-fundamentals

[tacacs/test_jit_user]: test same user with different privilege level
  ansible/group_vars/lab/lab.yml
  tests/common/plugins/tacacs.py
  tests/tacacs/__init__.py
  tests/tacacs/tac_plus.conf.j2
  tests/tacacs/test_jit_user.py
Owners: @Azure/sonic-fundamentals

Added test case to verify ebtables rules. (#2944)
  tests/cacl/test_ebtables_application.py
  tests/kvmtest.sh
Owners: @Azure/sonic-fundamentals

[eos vm] enable ports by default (#2942)
  ansible/roles/eos/templates/t0-leaf-lag-2.j2
  ansible/roles/eos/templates/t0-leaf.j2
  ansible/roles/eos/templates/t1-64-lag-tor.j2
  ansible/roles/eos/templates/t1-lag-spine.j2
  ansible/roles/eos/templates/t1-lag-tor.j2
Owners: @Azure/sonic-fundamentals

Update the fib test to support DualToR (#2740)
  ansible/roles/test/files/ptftests/fib_test.py
  ansible/roles/test/files/ptftests/hash_test.py
  tests/bgp/test_bgp_speaker.py
  tests/common/devices.py
  tests/common/dualtor/dual_tor_utils.py
  tests/common/dualtor/mux_simulator_control.py
  tests/common/testbed.py
  tests/fib/test_fib.py
Owners: @Azure/sonic-fundamentals

Enhance bgpmon testcase (#2943)
  ansible/library/exabgp.py
  tests/bgp/test_bgpmon.py
Owners: @Azure/sonic-fundamentals

Add a fixture to disable thermal policy
  tests/platform_tests/test_platform_info.py
  tests/platform_tests/thermal_control_test_helper.py
Owners: @jleveque

Fix issues
  tests/platform_tests/thermal_control_test_helper.py
  tests/system_health/test_system_health.py
Owners: @jleveque, @Azure/sonic-fundamentals

Move all IXIA-based test cases to ixia folder
  tests/common/ixia/common_helpers.py
  tests/common/ixia/qos_fixtures.py
  tests/ixia/conftest.py
  tests/ixia/ecn/args/__init__.py
  tests/ixia/ecn/args/ecn_args.py
  tests/ixia/ecn/conftest.py
  tests/ixia/ecn/files/__init__.py
  tests/ixia/ecn/files/helper.py
  tests/ixia/ecn/test_dequeue_ecn.py
  tests/ixia/ecn/test_red_accuracy.py
  tests/ixia/pfc/__init__.py
  tests/ixia/pfc/files/__init__.py
  tests/ixia/pfc/files/helper.py
  tests/ixia/pfc/test_global_pause.py
  tests/ixia/pfc/test_pfc_pause_lossless.py
  tests/ixia/pfc/test_pfc_pause_lossy.py
  tests/ixia/pfcwd/conftest.py
  tests/ixia/pfcwd/files/pfcwd_basic_helper.py
  tests/ixia/pfcwd/test_pfcwd_basic.py
  tests/pfc/conftest.py
Owners: @Azure/sonic-fundamentals

Disable ECN tests by default
  tests/ixia/ecn/args/ecn_args.py
Owners: @Azure/sonic-fundamentals

Remove unnecessary ptf_host_user/pass check and improve covered_range
  ansible/roles/test/files/ptftests/IP_decap_test.py
  ansible/roles/vm_set/tasks/announce_routes.yml
Owners: @Azure/sonic-fundamentals

Remove unused functions
  tests/common/ixia/qos_fixtures.py
Owners: @Azure/sonic-fundamentals

Update topo dualtor_56 to address spf issue.
  ansible/vars/topo_dualtor-56.yml
Owners: @Azure/sonic-fundamentals

Update y_cable_simulator_client to address spf issue.
  ansible/dualtor/y_cable_simulator_client.j2
Owners: @Azure/sonic-fundamentals

Run test_announce_routes.py only with add-topo (#2741)
  ansible/library/exabgp.py
  ansible/roles/test/files/ptftests/IP_decap_test.py
  ansible/roles/vm_set/library/announce_routes.py
  ansible/roles/vm_set/tasks/add_topo.yml
  ansible/roles/vm_set/tasks/announce_routes.yml
  tests/common/plugins/fib.py
  tests/conftest.py
  tests/decap/test_decap.py
  tests/run_tests.sh
  tests/test_announce_routes.py
Owners: @Azure/sonic-fundamentals

[multi-dut] Support for gen-mg to work with multi-dut where VM's connect to only a single host and supervisor card (#2700)
  ansible/config_sonic_basedon_testbed.yml
  ansible/library/topo_facts.py
  ansible/templates/minigraph_cpg.j2
  ansible/templates/minigraph_device.j2
  ansible/templates/minigraph_dpg.j2
  ansible/templates/minigraph_png.j2
  ansible/templates/minigraph_template.j2
Owners: @Azure/sonic-fundamentals

Update BGP Convergence Testplan for single DUT.md
  docs/testplan/BGP Convergence Testplan for single DUT.md
Owners: @wangxin, @yxieca

Refine RO test case for 201911 image
  tests/tacacs/test_ro_user.py
Owners: @Azure/sonic-fundamentals

Check either 'sudo sonic(-|_)installer list' is allowed by RO user
  tests/tacacs/test_ro_user.py
Owners: @Azure/sonic-fundamentals

[pytest] Test the feature of monitoring critical process by Supervisord.
  tests/monitoring_processes/test_monitoring_critical_processes.py
Owners: @Azure/sonic-fundamentals

[script]: add script to download artifacts from azure pipeline
  tests/scripts/getbuild.py
Owners: @Azure/sonic-fundamentals

[dhcp_relay]: ignore rsyslog sendto error messages
  tests/dhcp_relay/test_dhcp_relay.py
Owners: @Azure/sonic-fundamentals

fix alerts from lgtm
  tests/platform_tests/conftest.py
  tests/platform_tests/test_reboot.py
Owners: @jleveque

Changes to support Nokia-7215 SONiC pizza box
  ansible/group_vars/sonic/sku-sensors-data.yml
  ansible/roles/test/files/ptftests/dir_bcast_test.py
  tests/common/platform/transceiver_utils.py
  tests/fib/test_fib.py
  tests/ipfwd/test_dir_bcast.py
Owners: @Azure/sonic-fundamentals

support skip tranceiver info/presence checks based on port_type
  tests/common/platform/interface_utils.py
  tests/common/platform/transceiver_utils.py
  tests/platform_tests/conftest.py
  tests/platform_tests/test_reboot.py
  tests/platform_tests/test_reload_config.py
  tests/platform_tests/test_sequential_restart.py
  tests/platform_tests/test_xcvr_info_in_db.py
Owners: @Azure/sonic-fundamentals, @jleveque

changing intf_skip_info to hwsku_info in for xcvr_skip_list, adding comment in test_fib
  tests/fib/test_fib.py
  tests/platform_tests/conftest.py
Owners: @Azure/sonic-fundamentals, @jleveque

fix missing use of expected fields in b/tests/common/platform/transceiver_utils.py
  tests/common/platform/transceiver_utils.py
Owners: @Azure/sonic-fundamentals

fix lgtm alerts
  tests/platform_tests/test_reboot.py
Owners: @jleveque

[syncd swap] Added MASIC platform support for swapping syncd with syncd-rpc (#2929)
  tests/common/devices.py
  tests/common/system_utils/docker.py
  tests/conftest.py
Owners: @Azure/sonic-fundamentals

[dualtor mock]: Set mux cable table state
  tests/common/dualtor/dual_tor_mock.py
Owners: @Azure/sonic-fundamentals

ACL Change dude to removal of tor_ports and spine ports
  sonic-mgmt/tests/acl/test_acl.py
Owners: @Azure/sonic-fundamentals

[dualtor]: Send GARP to start linkmgrd heartbeat
  tests/common/dualtor/dual_tor_utils.py
Owners: @Azure/sonic-fundamentals

[dualtor]: Fix LGTM
  tests/common/dualtor/dual_tor_utils.py
Owners: @Azure/sonic-fundamentals

Refine RO test case for 201911 image (#2946)
  tests/tacacs/test_ro_user.py
Owners: @Azure/sonic-fundamentals

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# rules are explained here
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, # @Azure/sonic-fundamentals
# will be requested for review when someone opens a pull request.
*       @Azure/sonic-fundamentals

# Ansible

# Documents
docs    @wangxin @yxieca

# spytest
spytest @ramakristipati @lolyu @yxieca

# test reporting
test_reporting  @daall

# tests
tests/platform_tests    @jleveque
