Repository sonic-net/sonic-mgmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Azure/sonic-fundamentals, @wangxin, @yxieca, @ramakristipati, @lolyu, @daall, @jleveque

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# rules are explained here
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, # @Azure/sonic-fundamentals
# will be requested for review when someone opens a pull request.
*       @Azure/sonic-fundamentals

# Ansible

# Documents
docs    @wangxin @yxieca

# spytest
spytest @ramakristipati @lolyu @yxieca

# test reporting
test_reporting  @daall

# tests
tests/platform_tests    @jleveque

Update to DT5.1
  pyvxr_yaml_files/sonic_t1_topo.yaml
Owners: @Azure/sonic-fundamentals

Update to DT5.1
  pyvxr_yaml_files/sonic_t0_topo.yaml
Owners: @Azure/sonic-fundamentals

Update to DT5.1
  pyvxr_yaml_files/spytest_4D_tgen_vxr.yaml
Owners: @Azure/sonic-fundamentals

Update to DT5.1
  pyvxr_yaml_files/spytest_4D_tgen_vxr.yaml
Owners: @Azure/sonic-fundamentals

[pytest] Reorganize the comments.
  tests/monitoring_processes/test_monitoring_critical_processes.py
Owners: @Azure/sonic-fundamentals

Remove magic number
  tests/common/port_toggle.py
Owners: @Azure/sonic-fundamentals

[port toggle] Clean up port toggle library and increase default timeouts (#2915)
  tests/common/port_toggle.py
Owners: @Azure/sonic-fundamentals

[qos] Ignore sdk messages during port pause (#2933)
  tests/qos/qos_sai_base.py
Owners: @Azure/sonic-fundamentals

[pdu support] unify the PDU support naming convention
  ansible/devutils
  docs/tests/README.md
  tests/common/plugins/pdu_controller/README.md
  tests/common/plugins/pdu_controller/__init__.py
  tests/common/plugins/pdu_controller/controller_base.py
  tests/common/plugins/pdu_controller/snmp_pdu_controllers.py
  tests/common/plugins/psu_controller/__init__.py
  tests/conftest.py
  tests/platform_tests/test_platform_info.py
  tests/platform_tests/test_reboot.py
  tests/snmp/test_snmp_phy_entity.py
Owners: @Azure/sonic-fundamentals, @wangxin, @yxieca, @jleveque

[minigraph]: Make dual ToR lo2 IPs identical
  ansible/vars/topo_dualtor-56.yml
  ansible/vars/topo_dualtor.yml
Owners: @Azure/sonic-fundamentals

[pytest] Reorganize the comments.
  tests/monitoring_processes/test_monitoring_critical_processes.py
Owners: @Azure/sonic-fundamentals

Update watchdog.yaml with arista watchdog config
  tests/platform_tests/api/watchdog.yml
Owners: @jleveque

[testbed.csv] Add new fields
  ansible/library/test_facts.py
  docs/testbed/README.new.testbed.Configuration.md
  docs/testbed/README.testbed.Cli.md
  docs/testbed/README.testbed.Config.md
  tests/common/testbed.py
Owners: @Azure/sonic-fundamentals, @wangxin, @yxieca

Modify existing vtestbed.csv
  ansible/vtestbed.csv
Owners: @Azure/sonic-fundamentals

Modify existing testbed.csv
  ansible/testbed.csv
Owners: @Azure/sonic-fundamentals

[pdu support] unify the PDU support naming convention (#2960)
  ansible/devutils
  docs/tests/README.md
  tests/common/plugins/pdu_controller/README.md
  tests/common/plugins/pdu_controller/__init__.py
  tests/common/plugins/pdu_controller/controller_base.py
  tests/common/plugins/pdu_controller/snmp_pdu_controllers.py
  tests/common/plugins/psu_controller/__init__.py
  tests/conftest.py
  tests/platform_tests/test_platform_info.py
  tests/platform_tests/test_reboot.py
  tests/snmp/test_snmp_phy_entity.py
Owners: @Azure/sonic-fundamentals, @wangxin, @yxieca, @jleveque

Adding 29th rule based on Anil's update
  sonic-mgmt/tests/acl/templates/acltb_test_rules.j2
Owners: @Azure/sonic-fundamentals

Update rule 29 based on Anil's changes
  sonic-mgmt/tests/acl/templates/acltb_test_rules_part_2.j2
Owners: @Azure/sonic-fundamentals

Changes based on Anil's update
  sonic-mgmt/tests/acl/test_acl.py
Owners: @Azure/sonic-fundamentals

Fix incorrect minigraph_ptf_indices in minigraph facts.
  tests/common/devices.py
Owners: @Azure/sonic-fundamentals

Fix comments.
  tests/common/devices.py
Owners: @Azure/sonic-fundamentals

Pipeline yaml for continuous warmboot test
  tests/pipelines/cont-warmboot.yml
Owners: @Azure/sonic-fundamentals

Update cont-warmboot.yml for Azure Pipelines
  tests/pipelines/cont-warmboot.yml
Owners: @Azure/sonic-fundamentals

Update cont-warmboot.yml for Azure Pipelines
  tests/pipelines/cont-warmboot.yml
Owners: @Azure/sonic-fundamentals

Add New Topology t0-80
  ansible/roles/eos/templates/t0-80-leaf.j2
  ansible/vars/topo_t0-80.yml
  ansible/veos
Owners: @Azure/sonic-fundamentals

Delete Multiple_remote_link_failure.png
  docs/testplan/Img/Multiple_remote_link_failure.png
Owners: @wangxin, @yxieca

Delete RIB-IN_Capacity_Test.png
  docs/testplan/Img/RIB-IN_Capacity_Test.png
Owners: @wangxin, @yxieca

Delete Single_remote_link_failure.png
  docs/testplan/Img/Single_remote_link_failure.png
Owners: @wangxin, @yxieca

Delete RIB-IN_Convergence.png
  docs/testplan/Img/RIB-IN_Convergence.png
Owners: @wangxin, @yxieca

Add files via upload
  docs/testplan/Img/Multiple_Remote_Link_Failure.png
  docs/testplan/Img/RIB-IN_capacity_test.png
  docs/testplan/Img/RIB-IN_convergence_test.png
  docs/testplan/Img/Single_Remote_Link_Failure.png
Owners: @wangxin, @yxieca

Update BGP Convergence Testplan for single DUT.md
  docs/testplan/BGP Convergence Testplan for single DUT.md
Owners: @wangxin, @yxieca

Delete RIB-IN_capacity_test.png
  docs/testplan/Img/RIB-IN_capacity_test.png
Owners: @wangxin, @yxieca

Add files via upload
  docs/testplan/Img/RIB-IN_Capacity_Test.png
Owners: @wangxin, @yxieca

Update BGP Convergence Testplan for single DUT.md
  docs/testplan/BGP Convergence Testplan for single DUT.md
Owners: @wangxin, @yxieca

Implement traffic distribution utility.
  ansible/roles/test/files/ptftests/ip_in_ip_tunnel_test.py
  tests/common/devices.py
  tests/common/dualtor/dual_tor_utils.py
Owners: @Azure/sonic-fundamentals

Update topo dualtor_56 to address spf issue. (#2951)
  ansible/vars/topo_dualtor-56.yml
Owners: @Azure/sonic-fundamentals

Update ip_in_ip_tunnel_test.
  ansible/roles/test/files/ptftests/ip_in_ip_tunnel_test.py
Owners: @Azure/sonic-fundamentals

[icmp responder]: Allow hardcoding of ICMP responder MAC
  tests/common/fixtures/ptfhost_utils.py
  tests/scripts/icmp_responder.py
Owners: @Azure/sonic-fundamentals

[icmp responder]: Update variable names
  tests/common/fixtures/ptfhost_utils.py
  tests/scripts/icmp_responder.py
Owners: @Azure/sonic-fundamentals

[rdma] Move all IXIA-based test cases to ixia folder (#2950)
  tests/common/ixia/common_helpers.py
  tests/common/ixia/qos_fixtures.py
  tests/ixia/conftest.py
  tests/ixia/ecn/args/__init__.py
  tests/ixia/ecn/args/ecn_args.py
  tests/ixia/ecn/conftest.py
  tests/ixia/ecn/files/__init__.py
  tests/ixia/ecn/files/helper.py
  tests/ixia/ecn/test_dequeue_ecn.py
  tests/ixia/ecn/test_red_accuracy.py
  tests/ixia/pfc/__init__.py
  tests/ixia/pfc/files/__init__.py
  tests/ixia/pfc/files/helper.py
  tests/ixia/pfc/test_global_pause.py
  tests/ixia/pfc/test_pfc_pause_lossless.py
  tests/ixia/pfc/test_pfc_pause_lossy.py
  tests/ixia/pfcwd/conftest.py
  tests/ixia/pfcwd/files/pfcwd_basic_helper.py
  tests/ixia/pfcwd/test_pfcwd_basic.py
  tests/pfc/conftest.py
Owners: @Azure/sonic-fundamentals
