Repository sonic-net/sonic-mgmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Azure/sonic-fundamentals, @wangxin, @yxieca, @ramakristipati, @lolyu, @daall, @jleveque

Update spytest-helper.py
  sonic-mgmt/spytest/spytest/remote/spytest-helper.py
Owners: @ramakristipati, @lolyu, @yxieca

Update spytest_topo2_vxr.yaml
  pyvxr_yaml_files/spytest_topo2_vxr.yaml
Owners: @Azure/sonic-fundamentals

Spytest changes for 202012 image
  sonic-mgmt/spytest/templates/show_ip_bgp_summary.tmpl
Owners: @ramakristipati, @lolyu, @yxieca

Spytest changes for 202012 image
  sonic-mgmt/spytest/apis/routing/bgp.py
Owners: @ramakristipati, @lolyu, @yxieca

Modify copy option to just copy the existing minigraph to the device.
  ansible/config_sonic_basedon_testbed.yml
  ansible/lab
  ansible/testbed-cli.sh
Owners: @Azure/sonic-fundamentals

Changes to support new four asics multi_asic_vs hwsku.
  ansible/lab
  ansible/minigraph/vlab-07.t1-8-lag.xml
  ansible/veos_vtb
Owners: @Azure/sonic-fundamentals

[Platform API][Thermal]: Include 0 as a valid low threshold, temperature value
  tests/platform_tests/api/test_thermal.py
Owners: @jleveque

[test_show_bgp_summary] Change prefixReceivedCount key due to Frr Update (#2927)
  tests/vrf/test_vrf.py
Owners: @Azure/sonic-fundamentals

Verifying received traffic using VLAN MAC, and refactoring
  tests/common/dualtor/data_plane_utils.py
  tests/common/dualtor/dual_tor_io.py
Owners: @Azure/sonic-fundamentals

fix copy paste errors
  ansible/library/conn_graph_facts.py
Owners: @Azure/sonic-fundamentals

use with open to simply file operations and complete console support
  ansible/files/creategraph.py
  ansible/library/conn_graph_facts.py
Owners: @Azure/sonic-fundamentals

[ci]: fix the kvm image download path
  .azure-pipelines/run-test-template.yml
Owners: @Azure/sonic-fundamentals

Update run-test-template.yml
  .azure-pipelines/run-test-template.yml
Owners: @Azure/sonic-fundamentals

Update cont-warmboot.yml for Azure Pipelines
  tests/pipelines/cont-warmboot.yml
Owners: @Azure/sonic-fundamentals

[device map] fix device map creation issue and caching issue (#2978)
  tests/common/devices.py
  tests/kvmtest.sh
  tests/test_pretest.py
Owners: @Azure/sonic-fundamentals

[nat] skip nat test when image doesn't have nat feature enabled
  tests/nat/conftest.py
Owners: @Azure/sonic-fundamentals

[wr_arp] add timeout to thread join (#2986)
  ansible/roles/test/files/ptftests/wr_arp.py
Owners: @Azure/sonic-fundamentals

[dual tor]: Move y cable simulator driver injection to pretest (#2981)
  ansible/config_sonic_basedon_testbed.yml
  ansible/dualtor/config_y_cable_simulator.yml
  ansible/dualtor/y_cable_simulator_injector.yml
  tests/templates/y_cable_simulator_client.j2
  tests/test_pretest.py
Owners: @Azure/sonic-fundamentals

Update watchdog.yaml with arista watchdog config (#2972)
  tests/platform_tests/api/watchdog.yml
Owners: @jleveque

Disable fake storm on Mellanox platforms
  tests/pfcwd/conftest.py
  tests/pfcwd/test_pfcwd_function.py
  tests/pfcwd/test_pfcwd_warm_reboot.py
Owners: @Azure/sonic-fundamentals

Modified testcase to use enum_rand_one_per_hwsku_frontend_hostname (#2954)
  tests/route/test_route_perf.py
Owners: @Azure/sonic-fundamentals

Add a fixture to disable thermal policy (#2953)
  tests/platform_tests/test_platform_info.py
  tests/platform_tests/thermal_control_test_helper.py
  tests/system_health/test_system_health.py
Owners: @jleveque, @Azure/sonic-fundamentals

[dualtor]: Add utilities for dual ToR mocking (#2945)
  tests/common/dualtor/dual_tor_mock.py
Owners: @Azure/sonic-fundamentals

[garp_service]: Create garp_service to run on PTF
  tests/common/dualtor/dual_tor_utils.py
  tests/common/fixtures/ptfhost_utils.py
  tests/scripts/garp_service.py
  tests/templates/garp_service.conf.j2
Owners: @Azure/sonic-fundamentals

[garp_service]: Default to re-send GARP packets every second
  tests/common/fixtures/ptfhost_utils.py
Owners: @Azure/sonic-fundamentals

fix return value
  tests/nat/conftest.py
Owners: @Azure/sonic-fundamentals

[Platform API][Thermal]: Include 0 as a valid low threshold, temperature value (#2989)
  tests/platform_tests/api/test_thermal.py
Owners: @jleveque

Changes to simplify verification of src and dst MAC
  tests/common/dualtor/data_plane_utils.py
  tests/common/dualtor/dual_tor_io.py
  tests/common/helpers/drop_counters/drop_counters.py
Owners: @Azure/sonic-fundamentals

qos multi-asic framework update
  tests/common/devices.py
  tests/common/platform/ssh_utils.py
  tests/common/system_utils/docker.py
  tests/qos/args/qos_sai_args.py
  tests/qos/qos_sai_base.py
  tests/qos/test_qos_sai.py
Owners: @Azure/sonic-fundamentals

BGP convergence test plan for benchmark performance (#2926)
  docs/testplan/BGP Convergence Testplan for single DUT.md
  docs/testplan/Img/Failover_convergence.png
  docs/testplan/Img/Multi_link_failure.png
  docs/testplan/Img/Multiple_Remote_Link_Failure.png
  docs/testplan/Img/RIB-IN-Convergence_Topology.png
  docs/testplan/Img/RIB-IN_Capacity_Test.png
  docs/testplan/Img/RIB-IN_Convergence_graph.png
  docs/testplan/Img/RIB-IN_convergence_test.png
  docs/testplan/Img/Single_DUT_Topology.png
  docs/testplan/Img/Single_Link_Failure.png
  docs/testplan/Img/Single_Remote_Link_Failure.png
  docs/testplan/Img/Switch_acting_as_leaf.png
  docs/testplan/Img/Switch_as_ToR.png
Owners: @wangxin, @yxieca

Fix alerts
  tests/ixia/pfcwd/files/pfcwd_runtime_traffic_helper.py
Owners: @Azure/sonic-fundamentals

Add Tgen topology mark
  tests/ixia/pfcwd/test_pfcwd_runtime_traffic.py
Owners: @Azure/sonic-fundamentals

Delete drop_counters.py
  tests/common/helpers/drop_counters/drop_counters.py
Owners: @Azure/sonic-fundamentals

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# rules are explained here
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, # @Azure/sonic-fundamentals
# will be requested for review when someone opens a pull request.
*       @Azure/sonic-fundamentals

# Ansible

# Documents
docs    @wangxin @yxieca

# spytest
spytest @ramakristipati @lolyu @yxieca

# test reporting
test_reporting  @daall

# tests
tests/platform_tests    @jleveque
