Repository sonic-net/sonic-mgmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wangxin, @yxieca, @ramakristipati, @lolyu, @prgeor, @keboliu, @Junchao-Mellanox, @alexrallen, @noaOrMlnx, @XuChen-MSFT, @wsycqyz, @neethajohn, @stephenxs, @jcaiMR, @StormLiangMS, @lipxu, @ZhaohuiS

In fwutil tests, it will always revert the component version to the first one - since this index is expected to be the latest version
  tests/platform_tests/fwutil/fwutil_common.py
Owners: @prgeor, @alexrallen

Convert python2 solution to python3.
  tests/platform_tests/cli/test_show_platform.py
Owners: @prgeor

Merged PR 4951: Remove device moved to TK5 and add some console info
  ansible/files/sonic_str2_console_links.csv
  ansible/files/sonic_str_console_links.csv
  ansible/files/sonic_str_links.csv
  ansible/files/sonic_str_pdu_links.csv
  ansible/str
Owners: none

Filter and ignore non-ascii characters in the test pattern
  tests/platform_tests/cli/test_show_platform.py
Owners: @prgeor

[crm/test_crm_nexthop]: Enhance test_crm_nexthop to cleanup ip addresses added to ptf interfaces if test fails (#11748)
  tests/crm/conftest.py
  tests/crm/test_crm.py
Owners: none

advanced-reboot: Fix timeout not being present in Python 2 (#11931)
  ansible/roles/test/files/ptftests/advanced-reboot.py
Owners: none

ignore rsyslog ERR message in test_stress_routes #11721
  tests/stress/conftest.py
  tests/stress/test_stress_routes.py
Owners: none

Merged PR 4956: Fix starlab incorrect console link
  ansible/files/sonic_str2_console_links.csv
Owners: none

adjust neighbor cli options creation
  tests/bgp/test_4-byte_asn_community.py
Owners: @jcaiMR, @StormLiangMS

Add the regex to the match_regex list.
  tests/pfcwd/test_pfcwd_all_port_storm.py
Owners: @lipxu, @neethajohn

Fix test to use correct SONiC string
  tests/telemetry/test_telemetry.py
Owners: none

don't use rch cluster for spytest sim sanity (#100)
  pyvxr_yaml_files/tortuga_spytest_5D_linux_stc.yaml
Owners: none

incorprated multidut changes
  tests/snappi_tests/multidut/pfcwd/files/pfcwd_multidut_burst_storm_helper.py
  tests/snappi_tests/multidut/pfcwd/test_multidut_pfcwd_burst_storm_with_snappi.py
Owners: none

incorparted multidut changes
  tests/snappi_tests/files/helper.py
  tests/snappi_tests/multidut/pfcwd/files/pfcwd_multidut_basic_helper.py
  tests/snappi_tests/multidut/pfcwd/test_multidut_pfcwd_basic_with_snappi.py
Owners: none

[Snappi] Added multi dut ecn dequeue test case (#7914)
  tests/common/snappi_tests/common_helpers.py
  tests/snappi_tests/multidut/ecn/__init__.py
  tests/snappi_tests/multidut/ecn/files/__init__.py
  tests/snappi_tests/multidut/ecn/files/multidut_helper.py
  tests/snappi_tests/multidut/ecn/test_multidut_dequeue_ecn_with_snappi.py
Owners: none

SONiC PAC Testplan HLD (#8346)
  docs/testplan/pac/PAC_Topology.png
  docs/testplan/pac/Port_Access_Control.md
Owners: @wangxin, @yxieca

introduced multidut changes
  tests/snappi_tests/multidut/pfcwd/files/pfcwd_multidut_basic_helper.py
Owners: none

incorporated multidut changes
  tests/snappi_tests/multidut/pfcwd/files/pfcwd_multidut_basic_helper.py
Owners: none

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# rules are explained here
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, # @Azure/sonic-fundamentals
# will be requested for review when someone opens a pull request.
#       @Azure/sonic-fundamentals

# Ansible

# Documents
docs    @wangxin @yxieca

# spytest
spytest @ramakristipati @lolyu @yxieca

# test reporting
test_reporting  @wangxin

# tests
tests/platform_tests    @prgeor
tests/platform_tests/mellanox @keboliu @Junchao-Mellanox
tests/platform_tests/fwutil @prgeor @alexrallen
tests/platform_tests/files @prgeor @Junchao-Mellanox
tests/platform_tests/test_auto_negotiation.py @prgeor @Junchao-Mellanox
tests/platform_tests/thermal_control_test_helper.py @prgeor @Junchao-Mellanox
tests/system_health @prgeor @Junchao-Mellanox
tests/show_techsupport @yxieca @noaOrMlnx
tests/qos @XuChen-MSFT @wsycqyz
tests/qos/test_buffer.py @neethajohn @stephenxs
tests/qos/test_buffer_traditional.py @neethajohn @stephenxs
tests/qos/files/dynamic_buffer_param.json @neethajohn @stephenxs
tests/qos/files/mellanox @stephenxs @keboliu
tests/qos/args @neethajohn @stephenxs
tests/common/mellanox_data.py @keboliu @Junchao-Mellanox
tests/dhcp_relay @jcaiMR
tests/bgp @jcaiMR @StormLiangMS
tests/route @jcaiMR
tests/fib @jcaiMR
tests/ip @jcaiMR
tests/ipfwd @jcaiMR
tests/radv @jcaiMR
tests/fdb @jcaiMR
tests/pfcwd @lipxu @neethajohn
tests/lldp @ZhaohuiS
tests/cacl @ZhaohuiS
tests/dualtor @lolyu @wsycqyz
tests/dualtor_io @lolyu @wsycqyz
tests/dualtor_mgmt @lolyu @wsycqyz
