Repository sonic-net/sonic-mgmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Azure/sonic-fundamentals, @wangxin, @yxieca, @ramakristipati, @lolyu, @daall, @jleveque

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# rules are explained here
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, # @Azure/sonic-fundamentals
# will be requested for review when someone opens a pull request.
*       @Azure/sonic-fundamentals

# Ansible

# Documents
docs    @wangxin @yxieca

# spytest
spytest @ramakristipati @lolyu @yxieca

# test reporting
test_reporting  @daall

# tests
tests/platform_tests    @jleveque

Update BGP Convergence Testplan for single DUT.md
  docs/testplan/BGP Convergence Testplan for single DUT.md
Owners: @wangxin, @yxieca

Delete Multi_link_failure.png
  docs/testplan/Img/Multi_link_failure.png
Owners: @wangxin, @yxieca

Delete Single_link_failure.png
  docs/testplan/Img/Single_link_failure.png
Owners: @wangxin, @yxieca

Delete Switch_as_ToR.png
  docs/testplan/Img/Switch_as_ToR.png
Owners: @wangxin, @yxieca

Delete Switch_acting_as_Leaf.png
  docs/testplan/Img/Switch_acting_as_Leaf.png
Owners: @wangxin, @yxieca

Add files via upload
  docs/testplan/Img/Multi_link_failure.png
  docs/testplan/Img/RIB-IN-Convergence_Topology.png
  docs/testplan/Img/Single_link_failure.png
  docs/testplan/Img/Switch_acting_as_Leaf.png
  docs/testplan/Img/Switch_as_ToR.png
Owners: @wangxin, @yxieca

Delete Single_link_failure.png
  docs/testplan/Img/Single_link_failure.png
Owners: @wangxin, @yxieca

Add files via upload
  docs/testplan/Img/Single_link_failure.png
Owners: @wangxin, @yxieca

Update BGP Convergence Testplan for single DUT.md
  docs/testplan/BGP Convergence Testplan for single DUT.md
Owners: @wangxin, @yxieca

Delete Switch_acting_as_Leaf.png
  docs/testplan/Img/Switch_acting_as_Leaf.png
Owners: @wangxin, @yxieca

Add files via upload
  docs/testplan/Img/Switch_acting_as_leaf.png
Owners: @wangxin, @yxieca

Delete Single_link_failure.png
  docs/testplan/Img/Single_link_failure.png
Owners: @wangxin, @yxieca

Add files via upload
  docs/testplan/Img/Single_Link_Failure.png
Owners: @wangxin, @yxieca

Update BGP Convergence Testplan for single DUT.md
  docs/testplan/BGP Convergence Testplan for single DUT.md
Owners: @wangxin, @yxieca

Update BGP Convergence Testplan for single DUT.md
  docs/testplan/BGP Convergence Testplan for single DUT.md
Owners: @wangxin, @yxieca

Update BGP Convergence Testplan for single DUT.md
  docs/testplan/BGP Convergence Testplan for single DUT.md
Owners: @wangxin, @yxieca

Update BGP Convergence Testplan for single DUT.md
  docs/testplan/BGP Convergence Testplan for single DUT.md
Owners: @wangxin, @yxieca

More fix
  tests/everflow/test_everflow_testbed.py
Owners: @Azure/sonic-fundamentals

Fix
  tests/common/devices.py
Owners: @Azure/sonic-fundamentals

FIx
  tests/common/devices.py
Owners: @Azure/sonic-fundamentals

[dualtor] Add icmp_responder (#2938)
  tests/common/fixtures/ptfhost_utils.py
  tests/scripts/icmp_responder.py
  tests/templates/icmp_responder.conf.j2
Owners: @Azure/sonic-fundamentals

Enhanced Everflow test cases to support multi-asic (#2694)
  tests/common/devices.py
  tests/everflow/everflow_test_utilities.py
  tests/everflow/test_everflow_ipv6.py
  tests/everflow/test_everflow_testbed.py
Owners: @Azure/sonic-fundamentals

Wait until ACL rule counters are all ready to prevent rules are not write to hardware chip already.
  tests/acl/test_acl.py
Owners: @Azure/sonic-fundamentals

[pytest] Fix the syntax error and remove trailing spaces.
  tests/monitoring_processes/test_monitoring_critical_processes.py
Owners: @Azure/sonic-fundamentals

Delete RIB-IN_convergence_graph.png
  docs/testplan/Img/RIB-IN_convergence_graph.png
Owners: @wangxin, @yxieca

Add files via upload
  docs/testplan/Img/RIB-IN_Convergence_graph.png
Owners: @wangxin, @yxieca

Update BGP Convergence Testplan for single DUT.md
  docs/testplan/BGP Convergence Testplan for single DUT.md
Owners: @wangxin, @yxieca

[pytest] Skip DUTs which were installed with 201911 image.
  tests/monitoring_processes/test_monitoring_critical_processes.py
Owners: @Azure/sonic-fundamentals

[pytest] Fix a logic error.
  tests/monitoring_processes/test_monitoring_critical_processes.py
Owners: @Azure/sonic-fundamentals

add more matching rule
  tests/dhcp_relay/test_dhcp_relay.py
Owners: @Azure/sonic-fundamentals

[watchdog.yml] Add test values for DellEMC S6100
  tests/platform_tests/api/watchdog.yml
Owners: @jleveque

[snmp] Added new snmp test case
  docs/testplan/SNMP-v2mib-test-plan.md
  tests/snmp/test_snmp_v2mib.py
Owners: @wangxin, @yxieca, @Azure/sonic-fundamentals

Adding new batch of automated NAT tests
  tests/nat/conftest.py
  tests/nat/nat_helpers.py
  tests/nat/test_dynamic_nat.py
  tests/nat/test_scale_nat.py
  tests/nat/test_static_nat.py
Owners: @Azure/sonic-fundamentals

fix typo mistakes in port_alias
  ansible/library/port_alias.py
Owners: @Azure/sonic-fundamentals

[dhcp_relay]: ignore rsyslog sendto error messages (#2957)
  tests/dhcp_relay/test_dhcp_relay.py
Owners: @Azure/sonic-fundamentals

[pytest] Remove the extra imports.
  tests/monitoring_processes/test_monitoring_critical_processes.py
Owners: @Azure/sonic-fundamentals

[watchdog.yml] Add test values for DellEMC S6100 (#2962)
  tests/platform_tests/api/watchdog.yml
Owners: @jleveque

[TACACS] Test that 'sudo pcieutil check' works for read-only user (#2930)
  tests/tacacs/test_ro_user.py
Owners: @Azure/sonic-fundamentals

Changes to support Nokia-7215 HwSKU (#2654)
  ansible/group_vars/sonic/sku-sensors-data.yml
  ansible/roles/test/files/ptftests/dir_bcast_test.py
  tests/common/platform/interface_utils.py
  tests/common/platform/transceiver_utils.py
  tests/fib/test_fib.py
  tests/ipfwd/test_dir_bcast.py
  tests/platform_tests/conftest.py
  tests/platform_tests/test_reboot.py
  tests/platform_tests/test_reload_config.py
  tests/platform_tests/test_sequential_restart.py
  tests/platform_tests/test_xcvr_info_in_db.py
Owners: @Azure/sonic-fundamentals, @jleveque

Update to DT5.1
  pyvxr_yaml_files/spytest_topo2_vxr.yaml
Owners: @Azure/sonic-fundamentals
